$primaryPaleBlue: hsl(225, 100%, 94%);
$primaryBrightBlue: hsl(245, 75%, 52%);

$neutralVeryPaleBlue: hsl(225, 100%, 98%);
$neutralDesaturatedBlue: hsl(224, 23%, 55%);
$neutralDarkBlue: hsl(223, 47%, 23%);

$fontSize: 16px;
